html
{
	height: 100%;
	width: 100%;
	#background-image: url(bg.jpg);
	#background-size: cover;
	#background-attachment: fixed;
	background-color: red;
}
@font-face {
	font-family: 'CloisterBlack';
	src: url('fonts/CloisterBlack.ttf')  format('truetype');
}
h1
{
  font-family: 'CloisterBlack';
}