html
{
	height: 100%;
	width: 100%;
	#background-image: url(bg.jpg);
	#background-size: cover;
	#background-attachment: fixed;
	background-color: #595959;
	
	
	font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
}
@font-face {
	font-family: 'CloisterBlack';
	src: url('fonts/CloisterBlack.ttf')  format('truetype');
}
h1
{
	font-family: 'CloisterBlack';
	text-align: center;
	font-size: 120px;
	color: #FFFFFF;
}
footer p
{
	text-align: center;
	color: #FFFFFF;	
}
footer p a
{
	color: #FFFFFF;
}
.collection
{
	max-width: 1180px;
    margin: 0 auto;
	padding: 2%;
	margin-bottom: 5%;
}
.collection .products
{
    display: flex;
    flex-wrap: wrap;
}
.collection .products .product
{
	width: 22%;
	margin-right: 4%;
}
.collection .product:nth-child(4n+0)
{
	margin-right: 0%;	
}
.collection h2
{
    font-size: 2em;
    color: #000000;
    display: block;
    text-align: center;
}
.collection#iwtdino h2
{
    color: #f9374b;
}
.collection .product ul
{

}
.collection .product ul li
{
	font-weight: bold;
    text-transform: none;
    font-size: 1em;
    color: #000000;
    display: block;
    text-align: center;
}
.collection .product ul li,
.collection p
{
	font-weight: bold;
    text-transform: none;
    font-size: 1em;
    display: block;
    text-align: center;
}
.collection#iwtdino .product ul li,
.collection#iwtdino p
{
    color: #f9374b;
}
.collection
{
	background-color: #FFFFFF;
}
.collection#iwtdino
{
	background-color: #000000;
}
.collection .product .image-container
{
	padding-top: 100%;
	position: relative;
}
.collection .product .image
{
	position:absolute;
	top:	0px;
	left:	0px;
	right:	0px;
	bottom: 0px;
	border: 1px solid grey;
	background-color: #FFFFFF;
	overflow: hidden;
}
.collection#iwtdino .product .image
{
    border: 0px;
	background-color: #FFFFFF;
}
.collection .product img
{
	width: 100%;
	display: block;
	position: absolute;
    top: 50%;
    margin-right: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-cart
{
	position: fixed;
    top: 20px;
    right: 20px;
	font-size: 50px;
}
.icon-cart a
{
	color: #eb2740 !important;
}
@media (max-width: 900px) {
	.collection .products .product,
	.collection .products .product:nth-child(4n+0)
	{
		width: 31%;
		margin-right: 3%;
	}
	.collection .product ul li,
	.collection p
	{
		font-size: 0.7em !important;
	}
	.collection .product:nth-child(3n+0)
	{
		margin-right: 0%;	
	}
}
@media (max-width: 600px) {
	.collection .products .product,
	.collection .products .product:nth-child(3n+0),
	.collection .products .product:nth-child(4n+0)
	{
		width: 48%;
		margin-right: 4%;
	}
	.collection .product ul li,
	.collection p
	{
		font-size: 0.7em !important;
	}
	.collection .products .product:nth-child(2n+0)
	{
		margin-right: 0%;	
	}
}



.clearfix:after
{
    content: ".";
    display: block !important;
    height: 0 !important;
    line-height: 0 !important;
    clear: both !important;
    visibility: hidden !important;
}